In [1]:
#web scrapping -> a techinique to get data

In [1]:
import requests

In [2]:
page=requests.get("https://afifa-dar.github.io/cv/")        #to read page
page       #response 200 mean k data get completely

In [6]:
page.content()

TypeError: 'bytes' object is not callable

In [3]:
page.content

b'<!DOCTYPE html>\n<html >\n<head>\n  <meta charset="utf-8">\n  <title>Afifa dar\'s personal site</title>\n<link rel="stylesheet" href="css/styles.css"/>\n\n</head>\n<body >\n  <table cellspacing="20">\n    <tr>\n      <td> <img width="200" height="200" src="ad-modified.png" alt="Afifa dar\'s profile"> </td>\n<td> <h1>Afifa Dar</h1>\n<p>\n  <em>undergraduate student at  <strong><a href="https://www.neduet.edu.pk/">NEDUET</a></strong>.</em></p>\n  <p>I am student and love to spend my time in reading and writng.</p>\n</td>\n</tr>\n  </table>\n    <hr />\n    <h3>Education</h3>\n    <ul>\n      <li>Juniper\'s Academy.<a href="https://www.facebook.com/pages/category/Middle-School/Junipers-Academy-Secondary-School-325417377642383/">  (FB page)</a></li>\n      <li>St.Lawarence Govt Girls Degree College <a href="https://www.facebook.com/pages/category/Education/StLawrence-Govt-Girls-Degree-College-Karachi-302302486492501/"> (FB page)</a></li>\n      <li>NEDUET <a href="https://www.facebook.com/NEDUETOfficial/"> (FB page)</a></li>\n    </ul>\n    <hr />\n    <h3>Hobbies</h3>\n    <ol>\n      <li value="1">reading novels</li>\n      <li>watching drama</li>\n      <li>listining poetry</li>\n      <li>Voice Over<br><br> (one of those) <br> &nbsp;<video  controls width="100px"><source src="my-video.mp4"></video></li>\n  </ol>\n  <hr />\n  <h3>EDUCATION DETAIL</h3>\n  <table style="padding: 6px;" cellspacing="10"  >\n    <thead>\n      <tr>\n           <th colspan="2">EDUCATION</th>\n       </tr>\n      <tr>\n        <td >YEARS</td>\n        <td>DEGREE</td>\n      </tr>\n    </thead>\n    <tbody>\n      <tr>\n        <td>2017</td>\n        <td>matriculation</td>\n      </tr>\n      <tr>\n        <td>2017-2019</td>\n        <td>Intermediate</td>\n      </tr>\n      <tr>\n        <td>2019-2023</td>\n        <td>Bachelors</td>\n      </tr>\n    </tbody>\n  </table>\n  <hr />\n  <h3>SKILLS</h3>\n  <table style="padding: 7px;" border="1">\n    <tr>\n      <td>\n    <table cellspacing="10">\n    <tr>\n      <td>\n        python\n      </td>\n      <td>\n        \xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\n      </td>\n    </tr>\n    <tr>\n      <td>\n        C++\n      </td>\n      <td>\n        \xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\n      </td>\n    </tr>\n    <tr>\n      <td>\n        UML\n      </td>\n      <td>\n        \xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\n      </td>\n    </tr>\n\n</table>\n</td>\n<td>\n<table cellspacing="10">\n<tr>\n<td>\n  SQL\n</td>\n<td>\n  \xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\n</td>\n</tr>\n<tr>\n<td>\n  C\n</td>\n<td>\n  \xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\n</td>\n</tr>\n<tr>\n<td>\n  OOP\n</td>\n<td>\n  \xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\xf0\x9f\x8c\x9f\n</td>\n</tr>\n</table>\n</td>\n</tr>\n  </table>\n  <hr />\n  <a href="contact.html">contact</a>\n  <hr />\n    </body>\n</html>\n'

In [4]:
from bs4 import BeautifulSoup

In [5]:
sop=BeautifulSoup(page.content)
sop

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Afifa dar's personal site</title>
<link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<table cellspacing="20">
<tr>
<td> <img alt="Afifa dar's profile" height="200" src="ad-modified.png" width="200"/> </td>
<td> <h1>Afifa Dar</h1>
<p>
<em>undergraduate student at  <strong><a href="https://www.neduet.edu.pk/">NEDUET</a></strong>.</em></p>
<p>I am student and love to spend my time in reading and writng.</p>
</td>
</tr>
</table>
<hr/>
<h3>Education</h3>
<ul>
<li>Juniper's Academy.<a href="https://www.facebook.com/pages/category/Middle-School/Junipers-Academy-Secondary-School-325417377642383/">  (FB page)</a></li>
<li>St.Lawarence Govt Girls Degree College <a href="https://www.facebook.com/pages/category/Education/StLawrence-Govt-Girls-Degree-College-Karachi-302302486492501/"> (FB page)</a></li>
<li>NEDUET <a href="https://www.facebook.com/NEDUETOfficial/"> (FB page)</a></li>
</ul>
<hr/>
<h3>Hobbies</h3>
<ol>
<li value="1">reading novels</li>
<li>watching drama</li>
<li>listining poetry</li>
<li>Voice Over<br/><br/> (one of those) <br/> Â <video controls="" width="100px"><source src="my-video.mp4"/></video></li>
</ol>
<hr/>
<h3>EDUCATION DETAIL</h3>
<table cellspacing="10" style="padding: 6px;">
<thead>
<tr>
<th colspan="2">EDUCATION</th>
</tr>
<tr>
<td>YEARS</td>
<td>DEGREE</td>
</tr>
</thead>
<tbody>
<tr>
<td>2017</td>
<td>matriculation</td>
</tr>
<tr>
<td>2017-2019</td>
<td>Intermediate</td>
</tr>
<tr>
<td>2019-2023</td>
<td>Bachelors</td>
</tr>
</tbody>
</table>
<hr/>
<h3>SKILLS</h3>
<table border="1" style="padding: 7px;">
<tr>
<td>
<table cellspacing="10">
<tr>
<td>
        python
      </td>
<td>
        ðŸŒŸðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
      </td>
</tr>
<tr>
<td>
        C++
      </td>
<td>
        ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
      </td>
</tr>
<tr>
<td>
        UML
      </td>
<td>
        ðŸŒŸðŸŒŸðŸŒŸ
      </td>
</tr>
</table>
</td>
<td>
<table cellspacing="10">
<tr>
<td>
  SQL
</td>
<td>
  ðŸŒŸðŸŒŸðŸŒŸ
</td>
</tr>
<tr>
<td>
  C
</td>
<td>
  ðŸŒŸðŸŒŸðŸŒŸ
</td>
</tr>
<tr>
<td>
  OOP
</td>
<td>
  ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
</td>
</tr>
</table>
</td>
</tr>
</table>
<hr/>
<a href="contact.html">contact</a>
<hr/>
</body>
</html>

In [6]:
sop=BeautifulSoup(page.content,"html.parser")
sop

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Afifa dar's personal site</title>
<link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<table cellspacing="20">
<tr>
<td> <img alt="Afifa dar's profile" height="200" src="ad-modified.png" width="200"/> </td>
<td> <h1>Afifa Dar</h1>
<p>
<em>undergraduate student at  <strong><a href="https://www.neduet.edu.pk/">NEDUET</a></strong>.</em></p>
<p>I am student and love to spend my time in reading and writng.</p>
</td>
</tr>
</table>
<hr/>
<h3>Education</h3>
<ul>
<li>Juniper's Academy.<a href="https://www.facebook.com/pages/category/Middle-School/Junipers-Academy-Secondary-School-325417377642383/">  (FB page)</a></li>
<li>St.Lawarence Govt Girls Degree College <a href="https://www.facebook.com/pages/category/Education/StLawrence-Govt-Girls-Degree-College-Karachi-302302486492501/"> (FB page)</a></li>
<li>NEDUET <a href="https://www.facebook.com/NEDUETOfficial/"> (FB page)</a></li>
</ul>
<hr/>
<h3>Hobbies</h3>
<ol>
<li value="1">reading novels</li>
<li>watching drama</li>
<li>listining poetry</li>
<li>Voice Over<br/><br/> (one of those) <br/> Â <video controls="" width="100px"><source src="my-video.mp4"/></video></li>
</ol>
<hr/>
<h3>EDUCATION DETAIL</h3>
<table cellspacing="10" style="padding: 6px;">
<thead>
<tr>
<th colspan="2">EDUCATION</th>
</tr>
<tr>
<td>YEARS</td>
<td>DEGREE</td>
</tr>
</thead>
<tbody>
<tr>
<td>2017</td>
<td>matriculation</td>
</tr>
<tr>
<td>2017-2019</td>
<td>Intermediate</td>
</tr>
<tr>
<td>2019-2023</td>
<td>Bachelors</td>
</tr>
</tbody>
</table>
<hr/>
<h3>SKILLS</h3>
<table border="1" style="padding: 7px;">
<tr>
<td>
<table cellspacing="10">
<tr>
<td>
        python
      </td>
<td>
        ðŸŒŸðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
      </td>
</tr>
<tr>
<td>
        C++
      </td>
<td>
        ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
      </td>
</tr>
<tr>
<td>
        UML
      </td>
<td>
        ðŸŒŸðŸŒŸðŸŒŸ
      </td>
</tr>
</table>
</td>
<td>
<table cellspacing="10">
<tr>
<td>
  SQL
</td>
<td>
  ðŸŒŸðŸŒŸðŸŒŸ
</td>
</tr>
<tr>
<td>
  C
</td>
<td>
  ðŸŒŸðŸŒŸðŸŒŸ
</td>
</tr>
<tr>
<td>
  OOP
</td>
<td>
  ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
</td>
</tr>
</table>
</td>
</tr>
</table>
<hr/>
<a href="contact.html">contact</a>
<hr/>
</body>
</html>

In [7]:
print(sop.prettify)

<bound method Tag.prettify of <!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Afifa dar's personal site</title>
<link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<table cellspacing="20">
<tr>
<td> <img alt="Afifa dar's profile" height="200" src="ad-modified.png" width="200"/> </td>
<td> <h1>Afifa Dar</h1>
<p>
<em>undergraduate student at  <strong><a href="https://www.neduet.edu.pk/">NEDUET</a></strong>.</em></p>
<p>I am student and love to spend my time in reading and writng.</p>
</td>
</tr>
</table>
<hr/>
<h3>Education</h3>
<ul>
<li>Juniper's Academy.<a href="https://www.facebook.com/pages/category/Middle-School/Junipers-Academy-Secondary-School-325417377642383/">  (FB page)</a></li>
<li>St.Lawarence Govt Girls Degree College <a href="https://www.facebook.com/pages/category/Education/StLawrence-Govt-Girls-Degree-College-Karachi-302302486492501/"> (FB page)</a></li>
<li>NEDUET <a href="https://www.facebook.com/NEDUETOfficial/"> (FB page)</a></li>
</ul>
<hr/>
<h3>Hobbies</h3>
<ol>
<li value="1">reading novels</li>
<li>watching drama</li>
<li>listining poetry</li>
<li>Voice Over<br/><br/> (one of those) <br/> Â <video controls="" width="100px"><source src="my-video.mp4"/></video></li>
</ol>
<hr/>
<h3>EDUCATION DETAIL</h3>
<table cellspacing="10" style="padding: 6px;">
<thead>
<tr>
<th colspan="2">EDUCATION</th>
</tr>
<tr>
<td>YEARS</td>
<td>DEGREE</td>
</tr>
</thead>
<tbody>
<tr>
<td>2017</td>
<td>matriculation</td>
</tr>
<tr>
<td>2017-2019</td>
<td>Intermediate</td>
</tr>
<tr>
<td>2019-2023</td>
<td>Bachelors</td>
</tr>
</tbody>
</table>
<hr/>
<h3>SKILLS</h3>
<table border="1" style="padding: 7px;">
<tr>
<td>
<table cellspacing="10">
<tr>
<td>
        python
      </td>
<td>
        ðŸŒŸðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
      </td>
</tr>
<tr>
<td>
        C++
      </td>
<td>
        ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
      </td>
</tr>
<tr>
<td>
        UML
      </td>
<td>
        ðŸŒŸðŸŒŸðŸŒŸ
      </td>
</tr>
</table>
</td>
<td>
<table cellspacing="10">
<tr>
<td>
  SQL
</td>
<td>
  ðŸŒŸðŸŒŸðŸŒŸ
</td>
</tr>
<tr>
<td>
  C
</td>
<td>
  ðŸŒŸðŸŒŸðŸŒŸ
</td>
</tr>
<tr>
<td>
  OOP
</td>
<td>
  ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
</td>
</tr>
</table>
</td>
</tr>
</table>
<hr/>
<a href="contact.html">contact</a>
<hr/>
</body>
</html>
>

In [8]:
sop.children

In [9]:
print(sop.children)

<list_iterator object at 0x00000123E5B7FBB0>

In [10]:
list(sop.children)

['html',
 '\n',
 <html>
 <head>
 <meta charset="utf-8"/>
 <title>Afifa dar's personal site</title>
 <link href="css/styles.css" rel="stylesheet"/>
 </head>
 <body>
 <table cellspacing="20">
 <tr>
 <td> <img alt="Afifa dar's profile" height="200" src="ad-modified.png" width="200"/> </td>
 <td> <h1>Afifa Dar</h1>
 <p>
 <em>undergraduate student at  <strong><a href="https://www.neduet.edu.pk/">NEDUET</a></strong>.</em></p>
 <p>I am student and love to spend my time in reading and writng.</p>
 </td>
 </tr>
 </table>
 <hr/>
 <h3>Education</h3>
 <ul>
 <li>Juniper's Academy.<a href="https://www.facebook.com/pages/category/Middle-School/Junipers-Academy-Secondary-School-325417377642383/">  (FB page)</a></li>
 <li>St.Lawarence Govt Girls Degree College <a href="https://www.facebook.com/pages/category/Education/StLawrence-Govt-Girls-Degree-College-Karachi-302302486492501/"> (FB page)</a></li>
 <li>NEDUET <a href="https://www.facebook.com/NEDUETOfficial/"> (FB page)</a></li>
 </ul>
 <hr/>
 <h3>Hobbies</h3>
 <ol>
 <li value="1">reading novels</li>
 <li>watching drama</li>
 <li>listining poetry</li>
 <li>Voice Over<br/><br/> (one of those) <br/> Â <video controls="" width="100px"><source src="my-video.mp4"/></video></li>
 </ol>
 <hr/>
 <h3>EDUCATION DETAIL</h3>
 <table cellspacing="10" style="padding: 6px;">
 <thead>
 <tr>
 <th colspan="2">EDUCATION</th>
 </tr>
 <tr>
 <td>YEARS</td>
 <td>DEGREE</td>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>2017</td>
 <td>matriculation</td>
 </tr>
 <tr>
 <td>2017-2019</td>
 <td>Intermediate</td>
 </tr>
 <tr>
 <td>2019-2023</td>
 <td>Bachelors</td>
 </tr>
 </tbody>
 </table>
 <hr/>
 <h3>SKILLS</h3>
 <table border="1" style="padding: 7px;">
 <tr>
 <td>
 <table cellspacing="10">
 <tr>
 <td>
         python
       </td>
 <td>
         ðŸŒŸðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
       </td>
 </tr>
 <tr>
 <td>
         C++
       </td>
 <td>
         ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
       </td>
 </tr>
 <tr>
 <td>
         UML
       </td>
 <td>
         ðŸŒŸðŸŒŸðŸŒŸ
       </td>
 </tr>
 </table>
 </td>
 <td>
 <table cellspacing="10">
 <tr>
 <td>
   SQL
 </td>
 <td>
   ðŸŒŸðŸŒŸðŸŒŸ
 </td>
 </tr>
 <tr>
 <td>
   C
 </td>
 <td>
   ðŸŒŸðŸŒŸðŸŒŸ
 </td>
 </tr>
 <tr>
 <td>
   OOP
 </td>
 <td>
   ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
 </td>
 </tr>
 </table>
 </td>
 </tr>
 </table>
 <hr/>
 <a href="contact.html">contact</a>
 <hr/>
 </body>
 </html>,
 '\n']

In [11]:
[type(item)for item in list(sop.children)]   #"doctype.html"=doctype "\n"=NavigableString  "<html>,<head>,..."=Tag

[bs4.element.Doctype,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString]

In [12]:
#to see html children
html=list(sop.children)[2]
list(html.children)

['\n',
 <head>
 <meta charset="utf-8"/>
 <title>Afifa dar's personal site</title>
 <link href="css/styles.css" rel="stylesheet"/>
 </head>,
 '\n',
 <body>
 <table cellspacing="20">
 <tr>
 <td> <img alt="Afifa dar's profile" height="200" src="ad-modified.png" width="200"/> </td>
 <td> <h1>Afifa Dar</h1>
 <p>
 <em>undergraduate student at  <strong><a href="https://www.neduet.edu.pk/">NEDUET</a></strong>.</em></p>
 <p>I am student and love to spend my time in reading and writng.</p>
 </td>
 </tr>
 </table>
 <hr/>
 <h3>Education</h3>
 <ul>
 <li>Juniper's Academy.<a href="https://www.facebook.com/pages/category/Middle-School/Junipers-Academy-Secondary-School-325417377642383/">  (FB page)</a></li>
 <li>St.Lawarence Govt Girls Degree College <a href="https://www.facebook.com/pages/category/Education/StLawrence-Govt-Girls-Degree-College-Karachi-302302486492501/"> (FB page)</a></li>
 <li>NEDUET <a href="https://www.facebook.com/NEDUETOfficial/"> (FB page)</a></li>
 </ul>
 <hr/>
 <h3>Hobbies</h3>
 <ol>
 <li value="1">reading novels</li>
 <li>watching drama</li>
 <li>listining poetry</li>
 <li>Voice Over<br/><br/> (one of those) <br/> Â <video controls="" width="100px"><source src="my-video.mp4"/></video></li>
 </ol>
 <hr/>
 <h3>EDUCATION DETAIL</h3>
 <table cellspacing="10" style="padding: 6px;">
 <thead>
 <tr>
 <th colspan="2">EDUCATION</th>
 </tr>
 <tr>
 <td>YEARS</td>
 <td>DEGREE</td>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>2017</td>
 <td>matriculation</td>
 </tr>
 <tr>
 <td>2017-2019</td>
 <td>Intermediate</td>
 </tr>
 <tr>
 <td>2019-2023</td>
 <td>Bachelors</td>
 </tr>
 </tbody>
 </table>
 <hr/>
 <h3>SKILLS</h3>
 <table border="1" style="padding: 7px;">
 <tr>
 <td>
 <table cellspacing="10">
 <tr>
 <td>
         python
       </td>
 <td>
         ðŸŒŸðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
       </td>
 </tr>
 <tr>
 <td>
         C++
       </td>
 <td>
         ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
       </td>
 </tr>
 <tr>
 <td>
         UML
       </td>
 <td>
         ðŸŒŸðŸŒŸðŸŒŸ
       </td>
 </tr>
 </table>
 </td>
 <td>
 <table cellspacing="10">
 <tr>
 <td>
   SQL
 </td>
 <td>
   ðŸŒŸðŸŒŸðŸŒŸ
 </td>
 </tr>
 <tr>
 <td>
   C
 </td>
 <td>
   ðŸŒŸðŸŒŸðŸŒŸ
 </td>
 </tr>
 <tr>
 <td>
   OOP
 </td>
 <td>
   ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
 </td>
 </tr>
 </table>
 </td>
 </tr>
 </table>
 <hr/>
 <a href="contact.html">contact</a>
 <hr/>
 </body>,
 '\n']

In [13]:
#to see head children
head=list(html.children)[1]
list(head.children)

['\n',
 <meta charset="utf-8"/>,
 '\n',
 <title>Afifa dar's personal site</title>,
 '\n',
 <link href="css/styles.css" rel="stylesheet"/>,
 '\n']

In [14]:
#to see body children
body=list(html.children)[3]
list(body.children)

['\n',
 <table cellspacing="20">
 <tr>
 <td> <img alt="Afifa dar's profile" height="200" src="ad-modified.png" width="200"/> </td>
 <td> <h1>Afifa Dar</h1>
 <p>
 <em>undergraduate student at  <strong><a href="https://www.neduet.edu.pk/">NEDUET</a></strong>.</em></p>
 <p>I am student and love to spend my time in reading and writng.</p>
 </td>
 </tr>
 </table>,
 '\n',
 <hr/>,
 '\n',
 <h3>Education</h3>,
 '\n',
 <ul>
 <li>Juniper's Academy.<a href="https://www.facebook.com/pages/category/Middle-School/Junipers-Academy-Secondary-School-325417377642383/">  (FB page)</a></li>
 <li>St.Lawarence Govt Girls Degree College <a href="https://www.facebook.com/pages/category/Education/StLawrence-Govt-Girls-Degree-College-Karachi-302302486492501/"> (FB page)</a></li>
 <li>NEDUET <a href="https://www.facebook.com/NEDUETOfficial/"> (FB page)</a></li>
 </ul>,
 '\n',
 <hr/>,
 '\n',
 <h3>Hobbies</h3>,
 '\n',
 <ol>
 <li value="1">reading novels</li>
 <li>watching drama</li>
 <li>listining poetry</li>
 <li>Voice Over<br/><br/> (one of those) <br/> Â <video controls="" width="100px"><source src="my-video.mp4"/></video></li>
 </ol>,
 '\n',
 <hr/>,
 '\n',
 <h3>EDUCATION DETAIL</h3>,
 '\n',
 <table cellspacing="10" style="padding: 6px;">
 <thead>
 <tr>
 <th colspan="2">EDUCATION</th>
 </tr>
 <tr>
 <td>YEARS</td>
 <td>DEGREE</td>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>2017</td>
 <td>matriculation</td>
 </tr>
 <tr>
 <td>2017-2019</td>
 <td>Intermediate</td>
 </tr>
 <tr>
 <td>2019-2023</td>
 <td>Bachelors</td>
 </tr>
 </tbody>
 </table>,
 '\n',
 <hr/>,
 '\n',
 <h3>SKILLS</h3>,
 '\n',
 <table border="1" style="padding: 7px;">
 <tr>
 <td>
 <table cellspacing="10">
 <tr>
 <td>
         python
       </td>
 <td>
         ðŸŒŸðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
       </td>
 </tr>
 <tr>
 <td>
         C++
       </td>
 <td>
         ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
       </td>
 </tr>
 <tr>
 <td>
         UML
       </td>
 <td>
         ðŸŒŸðŸŒŸðŸŒŸ
       </td>
 </tr>
 </table>
 </td>
 <td>
 <table cellspacing="10">
 <tr>
 <td>
   SQL
 </td>
 <td>
   ðŸŒŸðŸŒŸðŸŒŸ
 </td>
 </tr>
 <tr>
 <td>
   C
 </td>
 <td>
   ðŸŒŸðŸŒŸðŸŒŸ
 </td>
 </tr>
 <tr>
 <td>
   OOP
 </td>
 <td>
   ðŸŒŸðŸŒŸðŸŒŸðŸŒŸ
 </td>
 </tr>
 </table>
 </td>
 </tr>
 </table>,
 '\n',
 <hr/>,
 '\n',
 <a href="contact.html">contact</a>,
 '\n',
 <hr/>,
 '\n']

In [25]:
t=list(body.children)[13]
t.text

'\nreading novels\nwatching drama\nlistining poetry\nVoice Over (one of those)  \xa0\n'

In [26]:
t.get_text

<bound method Tag.get_text of <ol>
<li value="1">reading novels</li>
<li>watching drama</li>
<li>listining poetry</li>
<li>Voice Over<br/><br/> (one of those) <br/> Â <video controls="" width="100px"><source src="my-video.mp4"/></video></li>
</ol>>

In [27]:
t.get_text()

'\nreading novels\nwatching drama\nlistining poetry\nVoice Over (one of those)  \xa0\n'

In [28]:
print(t.text)

reading novels
watching drama
listining poetry
Voice Over (one of those)  Â

In [29]:
print(t.get_text)

<bound method Tag.get_text of <ol>
<li value="1">reading novels</li>
<li>watching drama</li>
<li>listining poetry</li>
<li>Voice Over<br/><br/> (one of those) <br/> Â <video controls="" width="100px"><source src="my-video.mp4"/></video></li>
</ol>>

In [30]:
print(t.get_text())

reading novels
watching drama
listining poetry
Voice Over (one of those)  Â

In [37]:
#to find all p_tag (any specif tag) in whole page
p=sop.find_all('p')
print(p)

[<p>
<em>undergraduate student at  <strong><a href="https://www.neduet.edu.pk/">NEDUET</a></strong>.</em></p>, <p>I am student and love to spend my time in reading and writng.</p>]

In [38]:
h3=sop.find('h3')
h3

In [39]:
h3=sop.find_all('h3')
h3

[<h3>Education</h3>,
 <h3>Hobbies</h3>,
 <h3>EDUCATION DETAIL</h3>,
 <h3>SKILLS</h3>]

In [42]:
#find all lavels headings
d={}
for i in range(1,7):
    d['h'+str(i)]=sop.find_all('h'+str(i))
    
d

{'h1': [<h1>Afifa Dar</h1>],
 'h2': [],
 'h3': [<h3>Education</h3>,
  <h3>Hobbies</h3>,
  <h3>EDUCATION DETAIL</h3>,
  <h3>SKILLS</h3>],
 'h4': [],
 'h5': [],
 'h6': []}

In [ ]:
#find_all ()  argument me ids and class bh deskte to get items from them ..
#just like find() we have select() knon as css selector 
# sop.select(div p)  yani whole div se jtne p tags h sb lao
#sop.select(p.first item)  first item (class in a div)  usse p tags lao