In [1]:
#loc Iloc and groupby
import pandas as pd
data=pd.read_csv("netflix_titles.csv")
data.head(n=3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [3]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [4]:
data.loc[:,["title","country"]]

                      title        country
0      Dick Johnson Is Dead  United States
1             Blood & Water   South Africa
2                 Ganglands            NaN
3     Jailbirds New Orleans            NaN
4              Kota Factory          India
...                     ...            ...
8802                 Zodiac  United States
8803            Zombie Dumb            NaN
8804             Zombieland  United States
8805                   Zoom  United States
8806                 Zubaan          India

[8807 rows x 2 columns]

In [5]:
data.loc[:,["type"]].value_counts()     #value_counts()     add similar data in a col

type
Movie      6131
TV Show    2676
dtype: int64

In [6]:
data.loc[(data.release_year==2018)&(data.country=="Pakistan"),["title","country","cast","release_year"]]

,title,country,cast,release_year
4191,Pari,Pakistan,"Junaid Akhtar, Azekah Daniel, Khushi Maheen, S...",2018
4328,Teefa in Trouble,Pakistan,"Ali Zafar, Maya Ali, Javed Sheikh, Mehmood Asl...",2018
6025,7 Din Mohabbat In,Pakistan,"Mahira Khan, Sheheryar Munawar, Javed Sheikh, ...",2018

In [7]:
len(data.loc[(data.title=="Pari"),"cast"].split(", "))

AttributeError: 'Series' object has no attribute 'split'

In [ ]:
arr=data.loc[1,"cast"].split(", ")

In [ ]:
print(arr)
len(arr)

In [ ]:
#Q1 add col no of cast thta sho the sum of cast in each tv sho/ movie
import numpy
data.replace(to_replace=numpy.nan,value= "none" ,inplace=True)
def cal_cast(d):
    if d=="none":
        return 0
    else:
         return len(d.split(", "))

data["no_of_cast"]=data["cast"].apply(cal_cast)
data

# iloc

In [ ]:
data.iloc[3:8]

In [ ]:
data.iloc[[4]]

In [ ]:
data.loc[(data.title=="Kota Factory")]

In [ ]:
data.loc[[4]]

In [ ]:
data.loc[data["release_year"]==2020].count()

In [ ]:
data.loc[data["release_year"]==2020,"show_id"].count()

# group by

In [ ]:
data.groupby("type")["rating"].value_counts()

In [ ]:
data1=data.groupby("type")
data1["rating"].value_counts()

In [ ]:
type(data)

In [ ]:
data.groupby("type")["rating","country"].count()

In [ ]:
data.groupby("type").groups